# build artifacts
*.o
.ftdiff_*
/tmp_c/c_oracle
/tmp_c/*.txt
/tmp_c/*.bin

# stray `crystal build src/autofit/*.cr' binaries from debug sessions
/afblue_data
/afhints
/aflatin
/afranges_data
/freetype-cr
/tmp_c/aftrace

# Debug infra: trace oracle (patched FT master build) + ad-hoc probes
/tmp_c/ttoracle/
/tmp_c/trig_oracle
/tmp_check/
trace_*.txt
